<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
        <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <p>I'm in Section 1.</p>
        </div>
        <div class="tab-pane" id="tab2">
            <p>Howdy, I'm in Section 2.</p>
        </div>
    </div>
</div>
        <a href="#/test">Test</a>
<a href="#">Do nothing</a>


<form ng-controller="CreateCompanyCtrl" ng-submit="createCompany()">
    <input type="text" placeholder="Name" ng-model="name">
    <br>
    <textarea ng-model="description" placeholder="Description"></textarea>
    <br>
    <button type="submit" class="btn btn-default" >Save</button>
</form>

<div ng-repeat="company in companies | orderBy:sortBySelectedId">
    <h4 id="company-{{company._id}}">
        <img src="/img/image.png" class="company__img--mini">
        {{company.name}}
    </h4>
    {{company.about}}
    <a href="{{company.link}}">Link</a>
</div>