<div class="tab-title"><span>Стартапы</span></div>
<div class="tab-content">
    <ul class="companies">
        <li>
            <div class="pic"><img src="i/demo-vk.jpg"></div>
            <div class="info">
                <div class="title"><a href="#">VK.com </a><span class="new">Новое</span></div>
                <div class="text">Делал свою социальную сеть типа ВК до того, как это стало мейнстримом
                </div>
                <div class="person">Представитель: <a href="#">Павел Дуров</a></div>
            </div>
            <div class="clearfix"></div>
        </li>
        <li>
            <div class="pic"><img src="i/demo-vk.jpg"></div>
            <div class="info">
                <div class="title"><a href="#">VK.com</a></div>
                <div class="text">Делал свою социальную сеть типа ВК до того, как это стало мейнстримом
                </div>
                <div class="person">Представитель: <a href="#">Павел Дуров</a></div>
            </div>
            <div class="clearfix"></div>
        </li>
        <li>
            <div class="pic"><img src="i/demo-vk.jpg"></div>
            <div class="info">
                <div class="title"><a href="#">VK.com</a></div>
                <div class="text">Делал свою социальную сеть типа ВК до того, как это стало мейнстримом
                </div>
                <div class="person">Представитель: <a href="#">Павел Дуров</a></div>
            </div>
            <div class="clearfix"></div>
        </li>
    </ul>
    <div class="watch-all"><a href="#">Просмотреть все</a></div>
</div>