<div class="tab">
    <div class="tab-title"><span>Мероприятия</span></div>
    <div class="tab-content">
        <div class="event">
            <div class="title"><a href="/events/3222">Встреча любителей Microsoft</a><span
                    class="new">Новое</span>
            </div>
            <div class="pic"><img src="i/demo-wiki.jpg"></div>
            <div class="info">
                <div class="text">37 студентов успешно сдали и защитили экзамен. По результатам экзамена и
                    собеседований на второй этап было принято 22 студента. Все они проходят практику в
                    реальных командах Яндекса, разрабатывающих интерфейсы для Поиска, Карт, Маркета, Почты и
                </div>
                <div class="participants">Участники: <span class="avatar"> <img
                        src="i/demo-avatar.jpg"></span><span class="avatar"> <img
                        src="i/demo-avatar.jpg"></span><span class="avatar"> <img
                        src="i/demo-avatar.jpg"></span><span class="avatar"> <img
                        src="i/demo-avatar.jpg"></span><span class="more">и еще <b>20</b> человек </span>
                </div>
                <div class="org-date"><span class="org">Организатор: <a href="#">Василий
                    Пупкин</a></span><span class="date">Дата мероприятия: <b>14.10.13</b></span></div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="event"></div>
            <div class="title"><a href="#">Встреча любителей Microsoft</a><span class="new">Новое</span>
            </div>
            <div class="pic"><img src="i/demo-wiki.jpg"></div>
            <div class="info">
                <div class="text">37 студентов успешно сдали и защитили экзамен. По результатам экзамена и
                    собеседований на второй этап было принято 22 студента. Все они проходят практику в
                    реальных командах Яндекса, разрабатывающих интерфейсы для Поиска, Карт, Маркета, Почты и
                </div>
                <div class="participants">Участники: <span class="avatar"> <img
                        src="i/demo-avatar.jpg"></span><span class="avatar"> <img
                        src="i/demo-avatar.jpg"></span><span class="avatar"> <img
                        src="i/demo-avatar.jpg"></span><span class="avatar"> <img
                        src="i/demo-avatar.jpg"></span><span class="more">и еще <b>20</b> человек </span>
                </div>
                <div class="org-date"><span class="org">Организатор: <a href="#">Василий
                    Пупкин</a></span><span class="date">Дата мероприятия: <b>14.10.13</b></span></div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="event"></div>
            <div class="title"><a href="#">Встреча любителей Microsoft</a></div>
            <div class="pic"><img src="i/demo-wiki.jpg"></div>
            <div class="info">
                <div class="text">37 студентов успешно сдали и защитили экзамен. По результатам экзамена и
                    собеседований на второй этап было принято 22 студента. Все они проходят практику в
                    реальных командах Яндекса, разрабатывающих интерфейсы для Поиска, Карт, Маркета, Почты и
                </div>
                <div class="participants">Участники: <span class="avatar"> <img
                        src="i/demo-avatar.jpg"></span><span class="avatar"> <img
                        src="i/demo-avatar.jpg"></span><span class="avatar"> <img
                        src="i/demo-avatar.jpg"></span><span class="avatar"> <img
                        src="i/demo-avatar.jpg"></span><span class="more">и еще <b>20</b> человек </span>
                </div>
                <div class="org-date"><span class="org">Организатор: <a href="#">Василий
                    Пупкин</a></span><span class="date">Дата мероприятия: <b>14.10.13</b></span></div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="watch-all"><a ui-sref="tabs.events">Просмотреть все</a></div>
    </div>
</div>