<div class="tab-title"><span>Новости</span></div>
<div class="tab-content">
    <ul class="news">
        <li><span class="date">15.10</span><span class="title">Артемий Лебедев сказал: <a href="#">”Деда-мороза
            не существует!”</a> </span><span class="new">Новое</span>

            <div class="author">Автор: <a href='#'>Артемий Лебедев</a></div>
        </li>
        <li><span class="date">15.10</span><span class="title">Дипломат назвал <a href="#">безответственной
            поездку путешественника из РФ в Сирию</a> </span><span class="new">Новое</span>

            <div class="author">Автор: <a href='#'>Артемий Лебедев</a></div>
        </li>
        <li><span class="date">15.10</span><span class="title">Артемий Лебедев сказал: <a href="#">”Деда-мороза
            не существует!”</a> </span><span class="new">Новое</span>

            <div class="author">Автор: <a href='#'>Артемий Лебедев</a></div>
        </li>
        <li><span class="date">15.10</span><span class="title">Дипломат назвал <a href="#">безответственной
            поездку путешественника из РФ в Сирию</a> </span><span class="new">Новое</span>

            <div class="author">Автор: <a href='#'>Артемий Лебедев</a></div>
        </li>
        <li><span class="date">15.10</span><span class="title">Артемий Лебедев сказал: <a href="#">”Деда-мороза
            не существует!”</a> </span><span class="new">Новое</span>

            <div class="author">Автор: <a href='#'>Артемий Лебедев</a></div>
        </li>
    </ul>
    <div class="watch-all"><a href="#">Просмотреть все</a></div>
</div>