<div class="tab-title"><span>Вакансии</span></div>
<div class="tab-content">
    <ul class="news vacancy">
        <li><span class="date">15.10</span><span class="company">ОАО “Яндекс”</span>

            <div class="title"><a href="#">Frontend-разработчик</a> <span class="new">Новое</span></div>
            <div class="conditions">от 30000 до 40000 руб, Батайск</div>
        </li>
        <li><span class="date">15.10</span><span class="company">ОАО “Яндекс”</span>

            <div class="title"><a href="#">Frontend-разработчик</a> <span class="new">Новое</span></div>
            <div class="conditions">от 30000 до 40000 руб, Батайск</div>
        </li>
        <li><span class="date">15.10</span><span class="company">ОАО “Яндекс”</span>

            <div class="title"><a href="#">Frontend-разработчик</a> <span class="new">Новое</span></div>
            <div class="conditions">от 30000 до 40000 руб, Батайск</div>
        </li>
        <li><span class="date">15.10</span><span class="company">ОАО “Яндекс”</span>

            <div class="title"><a href="#">Frontend-разработчик</a> <span class="new">Новое</span></div>
            <div class="conditions">от 30000 до 40000 руб, Батайск</div>
        </li>
    </ul>
    <div class="watch-all"><a href="#">Просмотреть все</a></div>
</div>