<h1>Events</h1>
<div ng-repeat="event in events">
    <h4 id="company-{{company._id}}">
        <img src="/img/image.png" class="company__img--mini">
        {{event.name}}
    </h4>
    {{event.about}}
    <a href="{{company.link}}">Link</a>
</div>

<h1>Companies</h1>

<div ng-repeat="company in companies">
    <a href="#companies/{{company._id}}">
    <h4 id="company-{{company._id}}">
        <img src="/img/image.png" class="company__img--mini">
        {{company.name}}
    </h4>
    </a>
    {{company.about}}
    <a href="{{company.link}}">Link</a>
</div>