<div class="event">
    <div ng-hide="edit">
        <div class="title"><a ui-sref="tabs.events.item({eventId:123})">{{event.name}}</a><span
                class="new">Новое</span>
        </div>
        <div class="pic"><img src="i/demo-wiki.jpg"></div>
        <div class="info">
            <div class="text">{{event.shortInfo}}
            </div>
            <div class="text">{{event.fullInfo}}
            </div>
            <div class="participants">Участники: <span class="avatar"> <img
                    src="i/demo-avatar.jpg"></span><span class="avatar"> <img
                    src="i/demo-avatar.jpg"></span><span class="avatar"> <img
                    src="i/demo-avatar.jpg"></span><span class="avatar"> <img
                    src="i/demo-avatar.jpg"></span><span class="more">и еще <b>20</b> человек </span>
            </div>
            <!--<div class="org-date"><span class="org">Организатор: <a-->
            <!--ui-sref="tabs.users(userId:event.owner.id)">{{event.owner.name}}-->
            <!--{{event.owner.surname}}</a></span><span class="date">Дата мероприятия: <b>14.10.13</b></span>-->
            <!--</div>-->
            <div class="clearfix"></div>
        </div>
        <button type="button" ng-click="editMe()" class="btn btn-default">Редактировать
        </button>
    </div>



    <div ng-show="edit">
        <!--ng-controller="EditEventCtrl"-->
        <form name="eventEdit" ng-submit="save()" novalidate>
            <input class="title" type="text" placeholder="Название" ng-model="event.name" required/>

            <div class="pic"><img src="i/demo-wiki.jpg"></div>
            <div class="info">
                <textarea class="text" placeholder="Краткое описание" ng-model="event.shortInfo" required/>
                <textarea class="text" placeholder="Полное описание" ng-model="event.fullInfo" required/>
                <input type="file" ng-file-select="onFileSelect($files)">
                <input class="btn btn-primary" type="submit" ng-disabled="eventEdit.$invalid"
                       value="Сохранить"/>

                <button type="button" class="btn btn-default" ng-click="cancelEdit()">Отмена</button>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>


    <div class="clearfix"></div>
</div>