<div class="content">
    <div class="left-col">
        <div ui-view="events"></div>
    </div>
</div>
<div class="content-bottom">
    <div class="tab tab-left">
        <div ui-view="news"></div>
    </div>
    <div class="tab tab-right">
        <div ui-view="vacancies"></div>
    </div>
    <div class="clearfix"></div>
    <div class="tab tab-left tab-last">
        <div ui-view="companies"></div>
    </div>
    <div class="tab tab-right tab-last">
        <div ui-view="startups"></div>
    </div>
    <div class="clearfix"></div>
</div>
